body {
    background-color: rgb(176, 150, 126);
    margin: 0;
}



h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0, 0.4) 
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

p {
    font-family: 'Times New Roman', Times, serif line-height: 24px;
}

.homepage-hero {
    height: 240px;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
    background-image: url("https://images.hindustantimes.com/img/2021/07/14/1600x900/f68c4ad8-e47d-11eb-b5f3-e03811e5a235_1626251817806.jpeg");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.main-container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
}